body{
    background-image: url(../pics/279303.jpg);
    background-repeat: repeat;
}

.btn-login {
    font-family: inherit;
    font-size: 15px;
    background: linear-gradient(to right, #585858, #1f1f1f, #0c0c0c);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  .btn-login span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-login svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    color: white;
  }
  
  .btn-login:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .btn-login:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .btn-login:hover span {
    transform: translateX(5em);
  }
  
  .btn-login:active {
    transform: scale(0.95);
  }
  
  .bots {
   padding: 0.9em 1.6em;
   border: 2px solid white;
   outline: none;
   color: #FFF;
   font-family: inherit;
   font-weight: 500;
   font-size: 13px;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 12px;
    
  }
  
  .bots::after {
   content: "";
   z-index: -1;
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(to right, #585858, #380a0a, #270000);
   left: 0;
   top: 0;
   border-radius: 10px;
  }
  /* glow */
  .bots::before {
   content: "";
   background: linear-gradient(
      45deg,
      #FF0000, #002BFF, #FF00C8, #002BFF,
        #FF0000, #002BFF, #FF00C8, #002BFF
  );
   position: absolute;
   top: -2px;
   left: -2px;
   background-size: 600%;
   z-index: -1;
   width: calc(100% + 4px);
   height: calc(100% + 4px);
   filter: blur(8px);
   animation: glowing 20s linear infinite;
   transition: opacity .3s ease-in-out;
   border-radius: 10px;
   opacity: 0;
  
  }
  
  @keyframes glowing {
   0% {
    background-position: 0 0;
   }
  
   50% {
    background-position: 400% 0;
   }
  
   100% {
    background-position: 0 0;
   }
  }
  
  /* hover */
  .bots:hover::before {
   opacity: 1;
  
  }
  
  .bots:active:after {
   background: transparent;
  
  }
  
  .bots:active {
   font-weight: bold;
   color: #FFF;
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  
  @keyframes to-top{
      0%   {top:100px;}
      100%  {top:0px;}
  }
  @keyframes to-bottom{
      0%   { bottom:100px;}
      100%  { bottom:0px;}
  }
  @keyframes to-right{
      0%   {right:100px;}
      100%  {right:0px;}
  }
  @keyframes to-left{
      0%   {left:100px;}
      100%  {left:0px;}
  }
  .cssbuttons-io-button {
    background: #000000;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #9b9b9b;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
   }
   
   .cssbuttons-io-button .icon {
    background: rgb(253, 253, 253);
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #080808;
    right: 0.3em;
    transition: all 0.3s;
   }
   
   .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
   }
   
   .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #000000;
   }
   
   .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
   }
   
   .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
   }
   .button-cards{
       position: relative;
       left: -5%;
   }
   
   .icon-btn {
     width: 50px;
     height: 50px;
     border: 1px solid #cdcdcd;
     background: rgb(68, 68, 68);
     border-radius: 25px;
     overflow: hidden;
     position: relative;
     transition: width 0.2s ease-in-out;
     font-weight: 500;
     font-family: inherit;
     color: aliceblue;
   }
   
   .add-btn:hover {
     width: 120px;
   }
   
   .add-btn::before,
   .add-btn::after {
     transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
     content: "";
     position: absolute;
     height: 4px;
     width: 10px;
     top: calc(50% - 2px);
     background: seagreen;
   }
   
   .add-btn::after {
     right: 14px;
     overflow: hidden;
     border-top-right-radius: 2px;
     border-bottom-right-radius: 2px;
   }
   
   .add-btn::before {
     left: 14px;
     border-top-left-radius: 2px;
     border-bottom-left-radius: 2px;
   }
   
   .icon-btn:focus {
     outline: none;
   }
   
   .btn-txt {
     opacity: 0;
     transition: opacity 0.2s;
   }
   
   .add-btn:hover::before,
   .add-btn:hover::after {
     width: 4px;
     border-radius: 2px;
   }
   
   .add-btn:hover .btn-txt {
     opacity: 1;
   }
   
   .add-icon::after,
   .add-icon::before {
     transition: all 0.2s ease-in-out;
     content: "";
     position: absolute;
     height: 20px;
     width: 2px;
     top: calc(50% - 10px);
     background: seagreen;
     overflow: hidden;
   }
   
   .add-icon::before {
     left: 22px;
     border-top-left-radius: 2px;
     border-bottom-left-radius: 2px;
   }
   
   .add-icon::after {
     right: 22px;
     border-top-right-radius: 2px;
     border-bottom-right-radius: 2px;
   }
   
   .add-btn:hover .add-icon::before {
     left: 15px;
     height: 4px;
     top: calc(50% - 2px);
   }
   
   .add-btn:hover .add-icon::after {
     right: 15px;
     height: 4px;
     top: calc(50% - 2px);
   }
   
   .button {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: linear-gradient(to right, #585858, #1f1f1f, #0c0c0c);
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 14px 56px -11px #666666;
    width: 10em;
    padding: .5em;
    transition: all 0.4s;
    cursor: pointer;
   }
   
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   .button span:after {
    content: 'Details';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   
   .button:hover span {
    padding-right: 3.55em;
   }
   
   .button:hover span:after {
    opacity: 4;
    right: 0;
   }
   
   
   .noselect {
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
    font-size: 13px;
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .noselect .icone {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icone {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icone svg {
    transform: scale(0.8);
   }

   .containered {
    position: relative;
    --size-button: 40px;
  }
  /* searhc */
  .inputted {
    padding-left: var(--size-button);
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: #fff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: #191A1E;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .inputted:focus,
  .inputted:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }
  
  .inputted:focus + .icon,
  .inputted:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
  }
  
  .containered .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
  }
  
  .containered .icon svg {
    width: 100%;
    height: 100%;
  }

  /* Button for edit */
  .button {
    display: inline-block;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: rgb(255, 255, 255);
    z-index: 1;
    width: 150px;
    height: 45px;
   }
   
   .button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(212, 212, 212, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
   }
   
   .button:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
   }
   
   .button:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
   .button:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }

   @media only screen and (max-width: 500px){


   }